@page
@model ASP.NET_Inlämningsuppgift1.Pages.JoinEventsModel

@{
    ViewData["Title"] = "Join Events";
}

<h1>Join Events</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Spots_Available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Spots_Available)
        </dd>
    </dl>
</div>

<div>
    <div>
        <form method="post">
            <input type="submit" value="Join" class="btn btn-primary" />
            <h3>@Model.Message</h3>
        </form>
    </div>

    <div class="buttons">
        <button onclick="window.location.href='./MyEvents';">
            My Events
        </button>
        <button onclick="window.location.href='./ShowEvents';">
            More Events
        </button>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
